<div class="card-group">
  <div class="card">
    <img
      class="card-img-top w-100 d-block"
      style="
        background: url('/frontend/frontApp/src/assets/img/9d36e3f08a42743ce28c932f8544676b-p_e.jpg');
      "
    />
    <div class="card-body">
      <h4 class="card-title">I want to buy</h4>
      <p class="card-text">
        Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio,
        dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
        gravida at eget metus.
      </p>
      <button class="btn btn-primary" type="button">
        SEE THE PROPERTIES FOR SALE
      </button>
    </div>
  </div>
  <div class="card">
    <img
      class="card-img-top w-100 d-block"
      style="
        background: url('/frontend/frontApp/src/assets/img/mujer-ocupada-haciendo-muchas-cosas-vez-scaled.jpg');
      "
    />
    <div class="card-body">
      <h4 class="card-title">I'm seeling my home</h4>
      <p class="card-text">
        Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio,
        dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
        gravida at eget metus.
      </p>
      <button class="btn btn-primary" type="button">TALK TO CONSULTANT</button>
    </div>
  </div>
  <div class="card">
    <img
      class="card-img-top w-100 d-block"
      style="
        background: url('/frontend/frontApp/src/assets/img/mudanza-errores.jpeg');
      "
    />
    <div class="card-body">
      <h4 class="card-title">I want to rent</h4>
      <p class="card-text">
        Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio,
        dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
        gravida at eget metus.
      </p>
      <button class="btn btn-primary" type="button">
        SEE THE PROPERTIES FOR RENT
      </button>
    </div>
  </div>
</div>
