<div
  class="container py-4 py-xl-5"
  style="font-size: 16px; font-family: Raleway, sans-serif"
>
  <div
    class="text-center text-white-50 bg-primary border rounded border-0 p-3"
    style="
      background: var(--bs-primary);
      font-family: Raleway, sans-serif;
      font-size: 16px;
    "
  >
    <div class="row row-cols-2 row-cols-md-4">
      <div class="col" style="font-family: Raleway, sans-serif">
        <div class="p-3">
          <h4
            class="display-5 fw-bold text-white mb-0"
            style="font-family: Raleway, sans-serif"
          >
            6+
          </h4>
          <p class="mb-0">years of expirience</p>
        </div>
      </div>
      <div class="col">
        <div class="p-3">
          <h4
            class="display-5 fw-bold text-white mb-0"
            style="font-family: Raleway, sans-serif"
          >
            50mill+
          </h4>
          <p class="mb-0">in less than 3 years</p>
        </div>
      </div>
      <div class="col">
        <div class="p-3">
          <h4
            class="display-5 fw-bold text-white mb-0"
            style="font-family: Raleway, sans-serif"
          >
            239+
          </h4>
          <p class="mb-0">families satisfied</p>
        </div>
      </div>
      <div class="col">
        <div class="p-3">
          <h4
            class="display-5 fw-bold text-white mb-0"
            style="font-family: Raleway, sans-serif"
          >
            2000+
          </h4>
          <p class="mb-0">properties</p>
        </div>
      </div>
    </div>
  </div>
</div>
