:host {
  display: block;
}

.container-fluid {
  padding: 0% 10% 5% 10%;
  margin-top: 0%;
}

.gradient-slide {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.overlay-text {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}
