<div class="container-fluid">
  <ngb-carousel
    #carousel
    [interval]="2000"
    [pauseOnHover]="pauseOnHover"
    [pauseOnFocus]="pauseOnFocus"
    (slide)="onSlide($event)"
  >
    @for (slide of slides; track slide; let i = $index) {
    <ng-template ngbSlide>
      <div class="gradient-slide" [ngStyle]="{ background: slide.background }">
        <div class="overlay-text">
          <h3>{{ slide.title }}</h3>
          <p>{{ slide.description }}</p>
        </div>
      </div>
    </ng-template>
    }
  </ngb-carousel>
</div>
