<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title">Filters</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"
    ></button>
  </div>
  <hr />
  <p>Fill only what you need</p>

  <div class="offcanvas-body overflow-auto">
    <form [formGroup]="filterForm">
      <div ngbDropdown class="d-inline-block me-2">
        <button
          class="btn btn-outline-primary"
          id="dropdownCounty"
          ngbDropdownToggle
        >
          {{ filterForm.get("county")?.value || "Select a county" }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownCounty">
          <button
            *ngFor="let c of counties"
            ngbDropdownItem
            (click)="filterForm.get('county')?.setValue(c)"
          >
            {{ c }}
          </button>
        </div>
      </div>

      <div ngbDropdown class="d-inline-block">
        <button
          class="btn btn-outline-primary"
          id="dropdownType"
          ngbDropdownToggle
        >
          {{
            filterForm.get("property_type")?.value || "Select a property type"
          }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownType">
          <button
            *ngFor="let t of propertyTypes"
            ngbDropdownItem
            (click)="filterForm.get('property_type')?.setValue(t)"
          >
            {{ t }}
          </button>
        </div>
      </div>
      <hr />
      <div class="min-max-container">
        <h6>Price</h6>
        <div class="row">
          <div class="col-md-6">
            <p>min</p>
            <input type="number" name="min-price" id="" />
          </div>
          <div class="col-md-6">
            <p>max</p>
            <input type="number" name="max-price" id="" />
          </div>
        </div>
      </div>
      <div class="boolean-container">
        <h6>Price decreased</h6>
        <input type="checkbox" name="price-check" id="" />
      </div>
      <div class="min-max-container">
        <h6>Square ft</h6>
        <div class="row">
          <div class="col-md-6">
            <p>min</p>
            <input type="number" name="min-square-ft" id="" />
          </div>
          <div class="col-md-6">
            <p>max</p>
            <input type="number" name="max-square-ft" id="" />
          </div>
        </div>
      </div>
      <div class="min-max-container">
        <h6>Beds</h6>
        <div class="row">
          <div class="col-md-6">
            <p>min</p>
            <input type="number" name="min-bed" id="" />
          </div>
          <div class="col-md-6">
            <p>max</p>
            <input type="number" name="max-bed" id="" />
          </div>
        </div>
      </div>
      <div class="min-max-container">
        <h6>Full baths</h6>
        <div class="row">
          <div class="col-md-6">
            <p>min</p>
            <input type="number" name="min-full-baths" id="" />
          </div>
          <div class="col-md-6">
            <p>max</p>
            <input type="number" name="max-full-baths" id="" />
          </div>
        </div>
      </div>
      <div class="min-max-container">
        <h6>Half Baths</h6>
        <div class="row">
          <div class="col-md-6">
            <p>min</p>
            <input type="number" name="min-half-baths" id="" />
          </div>
          <div class="col-md-6">
            <p>max</p>
            <input type="number" name="max-half-baths" id="" />
          </div>
        </div>
      </div>
      <div class="boolean-container">
        <h6>Waterfront</h6>
        <input type="checkbox" name="price-check" id="" />
      </div>
      <div class="boolean-container">
        <h6>New</h6>
        <input type="checkbox" name="new-check" id="" />
      </div>
      <div class="min-max-container">
        <h6>Built date</h6>
        <div class="row">
          <div class="col-md-6">
            <p>from</p>
            <input type="number" name="min-half-baths" id="" />
          </div>
          <div class="col-md-6">
            <p>to</p>
            <input type="number" name="max-half-baths" id="" />
          </div>
        </div>
      </div>

      <div class="text-end">
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="applyFilters(); offcanvas.close('Close click')"
        >
          Apply
        </button>
      </div>
    </form>
  </div>
</ng-template>

<button
  class="btn btn-lg btn-outline-primary mb-2 me-2"
  (click)="openEnd(content)"
>
  Filters
</button>
<div class="active-filters d-flex flex-wrap gap-2 mb-3">
  <ng-container *ngFor="let key of filterKeys">
    <ng-container *ngIf="filterForm.get(key)?.value">
      <span class="badge bg-primary d-flex align-items-center">
        {{ getLabel(key) }}: {{ getValue(key) }}
        <button
          type="button"
          class="btn-close btn-close-white ms-2"
          aria-label="Remove"
          (click)="removeFilter(key)"
        ></button>
      </span>
    </ng-container>
  </ng-container>
</div>
