<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title">Filters</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"
    ></button>
  </div>
  <hr />
  <p>Fill only what you need</p>

  <div class="offcanvas-body overflow-auto">
    <form [formGroup]="filterForm" (ngSubmit)="onSubmit(offcanvas)">
      <div ngbDropdown class="d-inline-block me-2">
        <button
          class="btn btn-outline-primary"
          id="dropdownCounty"
          ngbDropdownToggle
        >
          {{ filterForm.get("county")?.value || "Select a county" }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownCounty">
          <button
            *ngFor="let c of counties"
            ngbDropdownItem
            (click)="filterForm.get('county')?.setValue(c)"
          >
            {{ c }}
          </button>
        </div>
      </div>

      <div ngbDropdown class="d-inline-block">
        <button
          class="btn btn-outline-primary"
          id="dropdownType"
          ngbDropdownToggle
        >
          {{
            filterForm.get("property_type")?.value || "Select a property type"
          }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownType">
          <button
            *ngFor="let t of propertyTypes"
            ngbDropdownItem
            (click)="filterForm.get('property_type')?.setValue(t)"
          >
            {{ t }}
          </button>
        </div>
      </div>
      <hr />
      <div class="min-max-container">
        <h6>Price</h6>
        <div class="row">
          <div class="col-md-6">
            <p>min</p>
            <input
              type="number"
              name="min-price"
              formControlName="price_min"
              id=""
            />
          </div>
          <div class="col-md-6">
            <p>max</p>
            <input
              type="number"
              name="max-price"
              formControlName="price_max"
              id=""
            />
          </div>
        </div>
      </div>
      <div class="boolean-container">
        <h6>Price decreased</h6>
        <input
          type="checkbox"
          name="price-check"
          formControlName="price_decrease"
          id=""
        />
      </div>
      <div class="min-max-container">
        <h6>Square ft</h6>
        <div class="row">
          <div class="col-md-6">
            <p>min</p>
            <input
              type="number"
              name="min-square-ft"
              formControlName="square_ft_min"
              id=""
            />
          </div>
          <div class="col-md-6">
            <p>max</p>
            <input
              type="number"
              name="max-square-ft"
              formControlName="square_ft_max"
              id=""
            />
          </div>
        </div>
      </div>
      <div class="min-max-container">
        <h6>Beds</h6>
        <div class="row">
          <div class="col-md-6">
            <p>min</p>
            <input
              type="number"
              name="min-bed"
              formControlName="beds_min"
              id=""
            />
          </div>
          <div class="col-md-6">
            <p>max</p>
            <input
              type="number"
              name="max-bed"
              formControlName="beds_max"
              id=""
            />
          </div>
        </div>
      </div>
      <div class="min-max-container">
        <h6>Full baths</h6>
        <div class="row">
          <div class="col-md-6">
            <p>min</p>
            <input
              type="number"
              name="min-full-baths"
              formControlName="full_baths_min"
              id=""
            />
          </div>
          <div class="col-md-6">
            <p>max</p>
            <input
              type="number"
              name="max-full-baths"
              formControlName="full_baths_max"
              id=""
            />
          </div>
        </div>
      </div>
      <div class="min-max-container">
        <h6>Half Baths</h6>
        <div class="row">
          <div class="col-md-6">
            <p>min</p>
            <input
              type="number"
              name="min-half-baths"
              formControlName="half_baths_min"
              id=""
            />
          </div>
          <div class="col-md-6">
            <p>max</p>
            <input
              type="number"
              name="max-half-baths"
              formControlName="half_baths_max"
              id=""
            />
          </div>
        </div>
      </div>
      <div class="boolean-container">
        <h6>Waterfront</h6>
        <input
          type="checkbox"
          name="price-check"
          formControlName="water_front"
          id=""
        />
      </div>
      <div class="boolean-container">
        <h6>New</h6>
        <input type="checkbox" name="new-check" formControlName="new" id="" />
      </div>
      <div class="min-max-container">
        <h6>Built date</h6>
        <div class="row">
          <div class="col-md-6">
            <p>from</p>
            <input
              type="number"
              name="min-half-baths"
              formControlName="built_min"
              id=""
            />
          </div>
          <div class="col-md-6">
            <p>to</p>
            <input
              type="number"
              name="max-half-baths"
              formControlName="built_max"
              id=""
            />
          </div>
        </div>
      </div>

      <div class="text-end">
        <button type="submit" class="btn btn-outline-secondary">Apply</button>
      </div>
    </form>
  </div>
</ng-template>

<button
  class="btn btn-lg btn-outline-primary mb-2 me-2"
  (click)="openEnd(content)"
>
  Filters
</button>
<div class="active-filters d-flex flex-wrap gap-2 mb-3">
  <ng-container *ngFor="let key of filterKeys">
    <ng-container *ngIf="hasValue(key)">
      <ng-container *ngIf="filterForm.get(key)?.value">
        <span class="badge bg-primary d-flex align-items-center">
          {{ getLabel(key) }}: {{ getValue(key) }}
          <button
            type="button"
            class="btn-close btn-close-white ms-2"
            aria-label="Remove"
            (click)="removeFilter(key)"
          ></button>
        </span>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
