<div class="container">
  <!-- Estado de carga
  <div
    *ngIf="state.loading"
    class="d-flex justify-content-center align-items-center"
    style="height: 300px"
  >
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div> -->

  <!-- Estado de carga (Skeleton) -->
  <div *ngIf="loading" class="skeleton-container">
    <div *ngFor="let n of [1, 2, 3, 4, 5, 6]" class="card mb-3 skeleton-card">
      <div class="row no-gutters">
        <div class="col-md-4">
          <div class="skeleton-image"></div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="skeleton-text title"></h5>
            <p class="skeleton-text line"></p>
            <p class="skeleton-text line short"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Estado de error -->
  <div *ngIf="error">
    <p class="text-danger">{{ error }}</p>
  </div>

  <!-- Estado de datos -->

  <div *ngFor="let property of properties">
    <div class="card mb-3" style="max-width: 540px">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            [src]="property.main_image || 'https://via.placeholder.com/150'"
            class="card-img"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ property.title }}</h5>
            <p class="card-text">
              {{ property.square_ft }} sq_ft
              <span *ngIf="property.new === true" id="badge-new">New</span>
              <span *ngIf="property.price_decrease === true" id="badge-price"
                >Price ↓</span
              >
            </p>
            <p class="card-text">
              Price: <span class="text-secondary">${{ property.price }}</span>
            </p>
            <button
              class="btn btn-outline-primary mb-2 me-2"
              (click)="openXl(content, property)"
            >
              See details
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Modal title</h5>
    <h5 class="modal-title" id="price">Price</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="container">
      <app-details [property]="selectedProperty"></app-details>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>
