<div class="details-grid">
  <div>Address</div>
  <div>{{ property.address }}</div>

  <div>County</div>
  <div>{{ property.county }}</div>

  <div>Zip Code</div>
  <div>{{ property.zip_code | number }}</div>

  <div>Area</div>
  <div>{{ property.square_ft | number }}</div>

  <div>Beds</div>
  <div>{{ property.beds | number }}</div>

  <div>Full Baths</div>
  <div>{{ property.full_baths | number }}</div>

  <div>Half Baths</div>
  <div>{{ property.half_baths | number }}</div>

  <div>Built in</div>
  <div>{{ property.built | number }}</div>

  <div>Description</div>
  <div>{{ property.description }}</div>
</div>
