<div class="table-scroll-container table-responsive">
  <!-- tabla y contenido aquí -->
  <!-- <table class="table table-striped">
    <tbody class="scrollable-tbody">
      <tr>
        <td>Address</td>
        <td>{{ property.address }}</td>
      </tr>
      <tr>
        <td>County</td>
        <td>{{ property.county }}</td>
      </tr>
      <tr>
        <td>Zip Code</td>
        <td>{{ property.zip_code | number }}</td>
      </tr>
      <tr>
        <td>Area</td>
        <td>{{ property.square_ft | number }}</td>
      </tr>
      <tr>
        <td>Beds</td>
        <td>{{ property.beds | number }}</td>
      </tr>
      <tr>
        <td>Full Baths</td>
        <td>{{ property.full_baths | number }}</td>
      </tr>
      <tr>
        <td>Half Baths</td>
        <td>{{ property.half_baths | number }}</td>
      </tr>
      <tr>
        <td>Built in</td>
        <td>{{ property.built | number }}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{ property.description }}</td>
      </tr>
    </tbody>
  </table> -->
  <div class="details-grid">
    <div>Address</div>
    <div>{{ property.address }}</div>

    <div>County</div>
    <div>{{ property.county }}</div>

    <div>Zip Code</div>
    <div>{{ property.zip_code | number }}</div>

    <div>Area</div>
    <div>{{ property.square_ft | number }}</div>

    <div>Beds</div>
    <div>{{ property.beds | number }}</div>

    <div>Full Baths</div>
    <div>{{ property.full_baths | number }}</div>

    <div>Half Baths</div>
    <div>{{ property.half_baths | number }}</div>

    <div>Built in</div>
    <div>{{ property.built | number }}</div>

    <div>Description</div>
    <div>{{ property.description }}</div>
  </div>
</div>
