<div
  class="highlight-clean"
  style="
    background: url('../../../../assets/img/middle-blob.svg') bottom / contain
      no-repeat;
    margin: 50px;
  "
>
  <div class="container">
    <div class="intro">
      <p class="text-center text-dark" style="font-size: 24px; margin: 0px">
        GET READY TO BUY
      </p>
      <p
        class="text-center"
        style="font-size: 22px; height: 32px; margin: 0px; color: var(--gray)"
      >
        Give us a call.<br />
      </p>
    </div>
    <div class="buttons">
      <a class="btn btn-primary" role="button" href="#">+1 (800) 000-0000</a>
    </div>
  </div>
</div>
