<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h4>Your profile</h4>
      <hr />
      <p>username</p>
      <h5>User</h5>
      <hr />
      <p>email</p>
      <h5>example&#64;gmail.com</h5>
      <hr />
      <p>Phone</p>
      <h5>+1(786)67628935</h5>
      <hr />
      <button type="button" class="btn btn-outline-secondary">
        Update profile
      </button>
    </div>
    <div class="col-md-8">
      <h3>Your favorite's list</h3>
      <hr />
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-4">
            <app-favorite-card></app-favorite-card>
          </div>
          <div class="col-md-6 mb-4">
            <app-favorite-card></app-favorite-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
