<h1 class="text-center text-white d-none d-lg-block site-heading">
  <span class="text-primary site-heading-upper mb-3" id="upper-info"
    >A STANDARD WEB PAGE FOR REAL ESTATE BUSINESS</span
  >
  <span class="site-heading-lower" id="lower-info">REALTOR APP</span>
</h1>
<nav class="navbar navbar-expand-lg bg-dark py-lg-4 navbar-dark" id="mainNav">
  <div class="container">
    <a class="navbar-brand text-uppercase d-lg-none text-expanded" href="#"
      >RealtorApp</a
    ><button
      data-bs-toggle="collapse"
      class="navbar-toggler"
      data-bs-target="#navbarResponsive"
    >
      <span class="visually-hidden">Toggle navigation</span
      ><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="products.html">PROPERTIES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="store.html">LOGIN</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
