:host {
  display: block;
}
.container {
  background-color: rgba(255, 222, 75, 0.749);
  /* margin: 10px; */
  padding: 30px;
  border-radius: 10px;
  font-family: "Raleway";
}

.col-md-4 {
  padding-left: 40px;
  padding-right: 40px;
}

.col-md-8 {
  padding-left: 40px;
  padding-right: 40px;
}
