<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="text-center cta-inner rounded">
          <h2 class="section-heading mb-8">
            <span class="section-heading-upper">RealtorApp</span
            ><img src="assets/img/logo2.svg" alt="" id="logo" /><span
              class="section-heading-lower"
              >About us</span
            >
          </h2>
          <p class="mb-0">
            This is a fullstack app build with Nginx as server, Docker to
            contenerize, Angular as frontend, Django and Django Rest Framework
            as backend and PostgreSQL as database. A realtor can list all the
            properties in trade with all his details and show them in a map. An
            user can see the properties and make a favorites list, contact with
            the realtor and write a review.
          </p>
          <hr />
          <span class="section-heading-lower">Created by</span>
          <img
            class="rounded-circle card-img-top w-100 d-block"
            src="assets/img/profile-picture.jpg"
          />
        </div>
      </div>
    </div>
  </div>
</section>
