<ng-container *ngIf="state$ | async as state">
  <div class="container">
    <app-search-form
      (filtersApplied)="onFiltersApplied($event)"
    ></app-search-form>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]="1">
        <button ngbNavLink>For sale</button>
        <ng-template ngbNavContent>
          <div class="row">
            <div class="col-md-6">
              <app-map
                [properties]="filterProperties(state.properties, 'for_sale')"
              ></app-map>
            </div>
            <div class="col-md-6">
              <app-list
                [properties]="filterProperties(state.properties, 'for_sale')"
              ></app-list>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <button ngbNavLink>For rent</button>
        <ng-template ngbNavContent>
          <div class="row">
            <div class="col-md-6">
              <app-map
                [properties]="filterProperties(state.properties, 'for_rent')"
              ></app-map>
            </div>
            <div class="col-md-6">
              <app-list
                [properties]="filterProperties(state.properties, 'for_rent')"
              ></app-list>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>

  <ng-container *ngIf="state.loading">
    <p>Loading...</p>
  </ng-container>

  <ng-container *ngIf="state.error">
    <p>{{ state.error }}</p>
  </ng-container>
</ng-container>
